* {
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
}

.canvastwo {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: rgb(197, 238, 181);
}

.left {
  width: 250px;
  height: 300px;
  border-radius: 300px;
  background-color: red;
  margin-left: 300px;
  margin-top: 120px;
  position: absolute;
  z-index: 1;
}

.right {
  width: 250px;
  height: 300px;
  border-radius: 300px;
  background-color: red;
  margin-left: 400px;
  margin-top: 120px;
  position: absolute;
  z-index: 2;
}

.stem {
  width: 25px;
  height: 100px;
  background-color: rgb(88, 60, 33);
  position: absolute;
  margin-left: 462px;
  margin-top: 50px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {margin-left: 462px; margin-top: 50px;}
  to {margin-top: 10px;}
}

.face {
  width: 225px;
  height: 225px;
  border-radius: 250px;
  margin-left: 362px;
  margin-top: 150px;
  background-color: rgb(255, 0, 0);
  z-index: 3;
  position: absolute;
}

.eye1 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 80px;
  margin-top: 50px;
  background-color: black;
}

.eye2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 120px;
  margin-top: -20px;
  background-color: black;
}

.nose {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 10px;
  background-color: black;
}

.nose2 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-left: 105px;
  margin-top: -20px;
  background-color: rgb(255, 0, 0);
}

.canvasthree {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: rgb(214, 121, 179);
}

.box {
  width: 500px;
  height: 200px;
  position: relative;
  margin-left: 200px;
  margin-top: 130px;
}

.blue {
  width: 500px;
  height: 200px;
  background-color: rgb(170, 243, 243);
  border-radius: 25px;
  position: absolute;
  z-index: 1;
  transition: height 1s;
}

.blue1 {
  width: 500px;
  height: 100px;
  background-color: rgb(170, 243, 243);
  position: absolute;
  margin-top: 70px;
  z-index: 3;
}

.yellow {
  width: 500px;
  height: 100px;
  background-color: rgb(243, 245, 158);
  border-radius: 25px;
  position: absolute;
  z-index: 2;
}

.blue:hover {
  height: 300px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  margin-top: 100px;
  margin-left: 240px;
  position: absolute;
  z-index: 4;
}