
.head {
    font-size: 50px;
    color: rgb(228, 227, 178);
    background-color: black;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.subhead {
    font-size: 25px;
    color: rgb(228, 227, 178);
    background-color: black;
    text-align: center;
    padding: 20px;
}

.leaves {
    position: absolute;
}

.ant {
    position: absolute;
    padding-top: 2050px;
    padding-left: 750px;
}

.beetle {
    position: absolute;
    padding-top: 1100px;
    padding-left: 1000px;
}

.caterpillar {
    position: absolute;
    padding-top: 900px;
    padding-left: 400px;
    width: 500px;
}

.cricket {
    position: absolute;
    padding-top: 1700px;
    padding-left: 750px;
}

.ladybug {
    position: absolute;
    padding-top: 1300px;
    padding-left: 200px;
}

.bee {
    position: absolute;
    padding-left: 800px;
    padding-top: 350px;
    width: 100px;
}

.grass {
    position: absolute;
    margin-top: -1100px;
}

.sunflowers {
    position: relative;
    margin-left: 150px;
    transition: opacity 2s ease-in-out;
}

.hydrangeas {
    position: relative;
    height: 1000px;
    width: 100%;
    margin-top: -800px;
}

.dhalias {
    position: relative;
    width: 100%;
    padding-left: 650px;
    margin-top: -450px;
}

.roses {
    position: relative;
    width: 100%;
    margin-top: -600px;
}

.daisies {
    position: relative;
    margin-top: -650px;
}

.cosmos {
    position: relative;
    margin-top: -850px;
}

.sunflowers:hover > * {
    opacity: 0;
}

.hydrangeas:hover > * {
    opacity: 0;
}

.dhalias:hover > * {
    opacity: 0;
}

.roses:hover {
    opacity: 0;
}

.daisies:hover {
    opacity: 0;
}

.cosmos:hover {
    opacity: 0;
}